#nav-menu {
  width: 220px;
  height: 100vh;
  padding: 15px 0;
  background-color: #EBEBEB;
  transition: width 0.5s ease;
}

#nav-menu.collapsed {
  width: 70px;
}

#menu-divider {
  height: 1.5px;
  border-radius: 2px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
}
