.menu-page {
  display: flex;
  margin: 10px 15px;
}

.page-switch-button {
  cursor: pointer;
  margin-right: 5px
}

.menu-page-name {
  align-self: center;
}

.page-divider {
  height: 1.5px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}
